@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Light.ttf");
}

body {
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 50px 50% 40%;
    grid-template-areas: ".navbar"
                        "side intro"
                        "side intro";
}

.navbar-container{
    grid-area: side;
    display: flex;
    align-items:flex-start ;
}
.navbar {
    position: sticky;
    top:0;
}

.burger-navbar {
    /* display: none; */
    grid-area: navbar;
    position: sticky;
    top:0;
}

.pdf {
    width: 80%;
    height: 900px;
    position: fixed;
    justify-self: center;
    top: 55px;
}


main {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;}

h1 {
    font-family: Dancing Script;
}

.intro {
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.intro-content{
    display: flex;
    /* height: auto; */
    justify-content: space-between ;
    align-items: center;
    padding: 5px;
}

.intro-content p {
    padding: 5px;
}
.image-container{
    width: 100%;
    margin: 10px;
} 

.image-container img {
    width: 100%;
    height: 100%;
}

/* Mini game */

.mini-game {
    /* grid-area: intro; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .mini-game h1 {
    justify-content: center;
} */
/* .games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

/* .scratchpad {
    width: 200px;
    height: 200px;
    border: solid 10px #FFFFFF;
    margin:5px;
} */

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.scratch-card {
    position: relative;
    width: 200px;
    height: 200px;
}
.scratch-card img {
    width: 100%;
    height: 100%;
}
.scratch-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: url("https://jennamolby.com/scratch-and-win/images/coin1.png") 5 5, default;
}