@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}


body {
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 50px 10vh 85vh;
    grid-template-areas: ". navbar"
                        "side contact"
                        "side contact";
    background-color:#f7f7f5;
    color: #091018;
}
.navbar-container{
    grid-area: side;
    display: flex;
    align-items:flex-start;
}
.navbar {
    position: sticky;
    top:0;
}

.burger-navbar {
    /* display: none; */
    grid-area: navbar;
}

/* .visible {
    display: block;
    z-index: 10;
} */

.pdf {
    width: 80%;
    height: 900px;
    position: fixed;
    justify-self: center;
    top: 55px;
}


.avatar{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: auto;
}

.main-contact {
    grid-area: contact;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas: "title"
                "form";
}

.main-contact h1 {
    font-family: Dancing Script;
    grid-area: title;
    justify-self: center;
}

.content {
    grid-area: form;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    position: relative;
}

/**************** Form **********************/

.contact-form {
    grid-area: form;
    background-color: #19526A;
    border-radius: 30px 20px;
    max-width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* 
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.form-group {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 20px;
}

.form-group label {
    /* grid-area: label; */
    color: #f7f7f5;
    font-family: Dancing Script;
    margin-left: 15px;
}

.form-group input,textarea {
    /* grid-area: input; */
    padding: px;
    border-radius: 15px;
    margin: 5px;
    background-color: rgb(247, 247, 245, 0.5);
}

.send button {
    /* grid-area: button; */
    width: 100px;
    padding: 10px;
    font-family: Dancing Script;
    font-size: large;
    margin: 20px;
    justify-self: flex-start;
    border-radius: 20px;
}
.send div {
    /* grid-area: img; */
    width: 50%;
    height: 20%;
    justify-self: flex-end;
}

.send div img {
    width: 100%;
    height: 100%;
    justify-self:flex-end;
}

.send {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


/*************** Search Internship ***********************/
.search {
    grid-area: search;
    display: flex;
    position: relative;
    align-items: center;
}


/* .search p {
    background-color: rgb(217, 217, 217,0.5);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    height: fit-content;
} */


/* Bras du pirate */
.image-container{
    width:300px;
    height: 409px;
    position: relative;
    filter: drop-shadow(0 0 0.75rem black);
}
/*
.image {
    width: 100%;
    height:100%;
    clip-path: polygon(
    0% 0%, 100% 0%, 100% 100%, 0% 100%,  Tout le rectangle de l'image
    0% 45%, 25% 45%, 25% 10%, 40% 10%, 45% 0%, 0% 0%  Trou correspondant à la découpe originale
);
}/* 

/* .animated-part {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 45% 0%, 45% 10%, 28% 10%, 25% 45%, 0% 45% );
    animation: swing 2s infinite ease-in-out;
}*/
/* Animation */
/* @keyframes swing {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
} */ 

/************ Speech bubble ****************/
.speech-bubble {
    box-sizing: border-box;
    background-color: rgb(217, 217, 217,0.5);
    padding: 15px;
    border-radius: 20px;
    align-self: flex-start;
    text-align: center;
    height: 100px; 
    width: 200px; 
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    z-index: 2;
}

/* Triangle */
/*left*/
/**.speech-bubble::after {
    position: absolute;
    content: '';
    top: 30px;
    right: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px ;
    border-color: transparent transparent transparent rgb(217, 217, 217,0.5);
}
**/
/*bottom*/
.speech-bubble::after {
    position: absolute;
    content: '';
    bottom: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 10px ; /* triangle*/
    border-color: rgb(217, 217, 217,0.5) transparent transparent transparent ;
}

/* Animation */
.speech-bubble {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.speech-bubble.seen {
    opacity: 1;
}

/******************** Footer *****************/
footer{
    grid-area: footer;
    background-color: #d9d9d9;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .icons-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .icons a {
    margin: 5px;
}

.name {
    font-family: Dancing Script;
    font-weight: bold;
}