
@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Light.ttf");
}

body {
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 50px 220vh;
    grid-template-areas: ". navbar"
                        "side content";
    background-color:#f7f7f5;
    color: #091018;
}


/* .visible {
    display: block;
    z-index: 100;
} */

.pdf {
    width: 80%;
    height: 900px;
    position: fixed;
    justify-self: center;
    top: 55px;
}

.content{
    grid-area: content;
    font-family: Poppins;
    padding: 0 0 50px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

h1,h2,h3 {
    font-family: Dancing Script;
    text-align: center;
}

.content p {
    text-align: center;
    margin-bottom: 15px;
}

.icons2 img{
    width: 20px;
    height: 20px;
}

.pict {
    display: flex;
    margin: 5px 0;
}

.pict img {
    width: 40px;
    height: 60px;
    margin: 0 10px 0 0;
}

.section {
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 0 30px 0;
}