@font-face {
    font-family: 'Futura Std';
    /* font-style: normal;*/
    font-weight: 300; 
    src: url('../../assets/fonts/futura/FuturaStdCondensed.otf') format('otf');
    }
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Light.ttf");
}

nav {
    background-color: #d9d9d9;
}

.navbar-container{
    grid-area: side;
    display: flex;
    align-items:flex-start ;
}

.navbar {
    position: sticky;
    top:0;
}

.burger-navbar {
    /* display: none; */
    display: block;
    z-index: 1000;
    grid-area: navbar;
    position: sticky;
    top:0;
}

/* Burger nav */

.burger-navbar {
    border-radius: 0 0 20px 20px;
    padding: 10px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* z-index: 100; */
    font-family: Futura Std, Poppins;
}

.navlinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-grow: 1; */
}

.navlinks a {
    margin: 5px;
    text-decoration: none;
    color: #000;
    font-family: Futura Std, Poppins;
}

.quit {
    margin: 5px;
    color: #000;
    font-family: Futura Std, Poppins;
    cursor: pointer;
    float: right;
}

.quit span {
    display: inline-block;
    vertical-align: middle;
}

/* side nav */

.navbar {
    width: fit-content;
    height: fit-content;
    border-radius: 0 20px 20px 0;
    padding: 10px;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.icons, .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items:center;
}

.icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    /* margin: 5px; */
}

.icon a img {
    width: 100%;
    height: 100%;
}

.pdf {
    display: none;
}

.pdfVisible {
    display: block;
    z-index: 100;
} 

.visible {
    display: none;
}

a:visited {
    color: black;
}

a{
    color:black;
}